[2016-02-15 02:32] rambalachandran opened #1 "What is the Mac OS-X equivalent command for xdg-open"
The README states that in order that

`xdg-mime default firefox.desktop x-scheme-handler/zotero`

What is the equivalent command that I need to run in terminal in case of Mac OS-X?

[2016-02-15 02:40] rambalachandran opened #2 "REQUEST error while trying to insert zotero link"
I installed zotxt from MEPLA. Added `(require 'zotxt)` in my `~/.emacs` file. When i enable
`M-x org-zotxt-mode `
and type` C-c " i`, it opens a query where if I type an author name, it throws me an error

`REQUEST [error] Error (error) while connecting to http://127.0.0.1:23119/zotxt/search.`

I'm not sure as to what is the cause of the error and how to fix it to make emacs know about the zotero

[2016-02-15 03:21] rambalachandran commented on #2
Ok this was silly. I never installed zotxt in Firefox. Upon installation, it works well. You can close the issue

[2016-02-15 03:31] egh commented on #1
Presumable `open`?

[2016-02-15 03:32] egh commented on #2
Great! Glad that was resolved.

[2016-02-15 14:10] rambalachandran commented on #2
Unfortunately the issue is resurfacing again. This time the Zotxt is installed in Firefox and open and I'm not sure why

[2016-02-16 04:44] egh commented on #2
Can you tell me what platform this is? Mac, Linux? I assume that you installed Zotxt via the mozilla addons page and it is up to date?

[2016-02-16 19:17] rambalachandran commented on #2
Yes I did install Zotxt via firefox Addon. It is in Mac Yosemite. I removed it and reinstalled it and it works, but I dont know what made it work.

[2016-02-16 19:30] rambalachandran opened #3 "Exporting org files to LaTeX with zotxt inserts"
I'm able to successfully create links to zotero entries in org-mode in emacs (as shown in attachment). Now if I try to export the org file into LaTeX the zotxt-easy-key is available. But there is no link or bibliography created for these entries. How can I create a bibliography entry for the zotxt entries in org-mode, when I export org-mode to LaTeX

![screen shot 2016-02-16 at 2 27 55 pm](https:/

[2016-02-17 05:44] egh commented on #2
That is odd. Firefox should need a restart before zotxt will work, but that should only be a problem once.

[2016-02-17 05:44] #2 closed

[2016-02-23 14:43] rambalachandran commented on #3
Hi It would be helpful, if you can tell me if and how zotxt can export these citations from org-mode to other publishable formats (such as .tex or .html)

[2016-03-01 06:23] egh commented on #3
Hi Janakiraman

Sorry for my slow response. I'll have a bit more time to look into the current state of exporting latex cites via zotxt. It's not currently implemented but it should be pretty easy. This ticket outlines some possibilities: https://gitlab.com/egh/zotxt-emacs/issues/16

[2016-03-13 15:21] cjpoor opened #4 "Numbers instead of punctuation"
Hi Erik,
Thanks for writing the plugin. I have been trying to make use of it and seem to be having some success. However, there is some odd behaviour with punctuation and diacritics. Here is one example:
﻿The inserted reference reads like this:
Ellerman, David. \342\200\234Autonomy in Education and Development.\342\200\235 Journal of International Co-operation in Education 7, no. 1 (2004): 3\342\2

[2016-03-13 20:24] cjpoor commented on #4
Sorry. The instruction in emacs when I exit - to encode as raw text - works.
Thanks again.
Chris.

[2016-03-13 20:36] egh commented on #4
@cjpoor I'll look into the issue anyhow, because I don't think that is really ideal behavior.

[2016-03-14 00:52] cjpoor commented on #4
There is another issue (or two) that may be related. For the last couple of days I have been getting an error on emacs initialization: Spacemacs encountered an error while loading your `/Users/christopherpoor/.spacemacs' file. Then zotxt is not available and the only way I have been able to get it back is by deleting my elpa folder and reinstalling it.
Putting the script

;; Activate org-zotxt-mod

[2016-03-14 01:27] cjpoor commented on #4
I loaded a new .spacemacs from template and do not get the initialization error now.

[2016-03-14 02:28] cjpoor commented on #4
NJBS on gitter fixed my .spacemacs for me, but when I uncommented org and did <SPC f e R> I got a message saying
symbol's function definition is void: org-zotxt-mode

[2016-03-14 02:30] cjpoor commented on #4
Should this be in my .spacemacs?

(require 'org)
;; Activate org-zotxt-mode in org-mode buffers
(add-hook 'org-mode-hook (lambda () (org-zotxt-mode 1)))
;; Bind something to replace the awkward C-u C-c " i

(define-key org-mode-map
  (kbd "C-c \" \"") (lambda () (interactive)
                      (org-zotxt-insert-reference-link '(4))))

[2016-03-14 02:35] cjpoor commented on #4
I did not have org installed - sorry.
Such a noob.

[2016-03-14 02:44] cjpoor commented on #4
OK. org-zotxt-mode working again but still give the numbers instead of punctuation. Do I need to change my default font?

[2016-03-14 03:06] cjpoor commented on #4
For some reason I have to keep on reinstalling zotxt

[2016-03-14 03:28] cjpoor commented on #4
The compile does not seem to complete:
**********************************************
Leaving directory `/Users/christopherpoor/.emacs.d/elpa/request-20160108.33'

Compiling file /Users/christopherpoor/.emacs.d/elpa/request-20160108.33/request-autoloads.el at Mon Mar 14 16:19:31 2016
Entering directory `/Users/christopherpoor/.emacs.d/elpa/request-20160108.33/'

Compiling file /Users/christopherpo

[2016-03-14 17:27] cjpoor commented on #4
Added  (require ‘cl-lib) to .spacemacs
zotxt seems to persist now.

However numbers still appear. Emacs asks me to code these as raw text when saving file.
When this is done, and file is closed and reopened, the numbers disappear.
But, in the last attempt, with two references together, the result was odd:

[[zotero://select/items/0_5H64ZGA8][Hermeling, Susanne. “Bildung-The Freedom of the Educated

[2016-03-14 17:37] cjpoor commented on #4
Sorry to display my ignorance again, but I can't figure out how and where I should run
xdg-mime default firefox.desktop x-scheme-handler/zotero

[2016-03-15 06:37] egh commented on #4
@cjpoor I've pushed up a fix for the encoding issue. I'm not sure when/how this happened (it used to work), but it should be fixed.

[2016-03-15 06:37] egh commented on #4
You should be able to install a new version from melpa in a little bit.

[2016-03-15 06:40] egh commented on #4
You may or may not need to run ` xdg-mime default firefox.desktop x-scheme-handler/zotero` - in fact, I think you shouldn't. In any case, that is a linux only command. I am deleting that from the README. It should be possible to follow the links in the usual way in Org.

[2016-03-15 09:37] cjpoor commented on #4
Many thanks.
I'll test it and get back to you.

[2016-04-13 01:27] scottmartincampbell opened #5 "Duplicate items in Zotero cause easykey error"
I was testing the easykey completion, and ran into a problem with duplicates in the Zotero library. It's possible to create/complete a key if a duplicate exists, but when trying to follow the easykey from emacs, zotxt throws the following error:

`REQUEST [error] Error (error) while connecting to http://127.0.0.1:23119/zotxt/select.`

Removing the duplicate solves the problem, but I can imagine th

[2016-04-28 16:16] scottmartincampbell opened #7 "Search and select Zotero item"
It would be handy to be able to search Zotero from emacs and then jump to the item, rather than insert a link or reference. Sort of like how helm-bibtex searches a bib file, and is able to insert a reference or jump to the bibtex entry.

I modified `org-zotxt-insert-reference-link` to create a custom function that can do this, but since it's a bit of a hack I thought I'd submit an official request

[2016-05-04 06:12] egh commented on #7
That sounds like a great idea, and like you say it should be really easy.

It might be nice as well to be able to jump to an attachment as well (similar to `org-zotxt-open-attachment`).

Do you have code you can share?

[2016-05-09 18:34] #1 closed

[2016-05-09 18:35] #4 closed

[2016-10-04 00:55] pierwill opened #8 "emacs 25.1?"
Has emacs 25.1 broken org-zotxt for anyone else?

[2016-10-07 05:03] egh commented on #8
Sorry, I was on vacation.

It works for me in emacs 26.0.50.2 (the emacs-snapshot PPA). Are you using melpa or melpa stable?

[2016-10-08 21:08] pierwill commented on #8
nevermind, seems to have been a hiccup. not exactly sure what version i'm on

*sheepish*

[2016-10-09 03:43] egh commented on #8
Cool, thanks for the update!

[2016-10-09 03:43] #8 closed

[2016-10-21 03:56] mclearc opened #9 "easykey error in markdown"
Zotxt works great with org-mode for me, but I keep getting an easykey error when I select an item from the minibuffer for citing. I consistently get `REQUEST [error] Error (error) while connecting to http://127.0.0.1:23119/zotxt/items.`. I think this may be due to duplicates, as discussed in #22. But it could also be something with diacritics or apostrophes in titles. Any help would be appreciated

[2016-10-25 06:30] egh commented on #9
@mclearc I agree completely that Better BibTeX provides a better solution for keys. It should be possible to use it by setting `org-zotxt-link-description-style` to `:betterbibtexkey`.

I'm thinking I should probably deprecate easykeys. It was an okay idea, but seems to cause a lot of problem, and Better BibTeX has solved them well.

[2016-11-20 20:17] egh commented on #5
@scottmartincampbell Sorry, I'm working through my old tickets. I don't really know a way around this other than to use Better BibTex keys or to define a custom key by adding a tag starting with `@` to an item. Hope that helps!

[2016-11-20 20:18] egh commented on #5
Oh, also, I'm going to work on improving the docs and support for Better BibTeX keys, which I think provide a better infrastructure for keys than easy keys going forward.

[2016-11-20 22:13] egh commented on #9
@mclearc I realized I never responded to your issue. It's hard to know where the issue could be coming from. But if you can enable debug logging in zotero (https://www.zotero.org/support/preferences/hidden_preferences) and start firefox/zotero from the command line (on mac or linux - not sure how to do this on windows), and then run the command that errors, you can then copy and paste the error in

[2016-12-06 20:19] mclearc commented on #9
I've gone back to using helm-bibtex for citations, but this is very helpful when writing notes in org!

[2016-12-06 20:19] #9 closed

[2016-12-08 02:39] egh commented on #9
Great! Let me know if you encounter other issues. Thanks.

[2016-12-29 08:57] junfx opened #10 "invalid function (mk (point-marker))"
When I C-c " i, emacs always display "_invalid function: (mk (point-marker))_" in mini-buffer.
I tried:
- in an empty org file
- remove all packages in elpa, and reinstall zotxt from emacs package system
- emacs24.5 on win10
- emacs24.5 on fedora

version: zotxt-20160427.1922 from melpa.org
code in org-zotxt.el:
[code]
Has anyone else encountered this type of error?

[2016-12-30 04:25] egh commented on #10
My mistake. I forgot to `(require 'cl)` at compile time. Should be fixed soon in the MELPA unstable release. Thank you for the report!

[2017-01-02 18:06] egh commented on #10
Works for me with the new version, running from a clean install of emacs.

Thanks for the report, and apologies! `cl` is always tricky because many of the packages I use require it.

[2017-01-02 18:06] #10 closed

[2017-01-05 07:49] AprilAppleAnnA opened #11 "Error when displaying PDF"
Hi Erik,

When I inserted the link of paper through "C-c " i", the program generated link [zotero://select/items/0_G9VMAV5Z] successfully. However, when I clicked the link, the computer gives me an error that "REQUEST [error] Eroor (error) while connecting to the hettp://127.0.01:23119/zotxt/select". Could you give me some suggestions on fixing this error? Thank you very much!

I followed the inst

[2017-01-06 04:47] egh commented on #11
Thank you for the report!

That is strange. Is zotero still running when you click on the link? It won't launch zotero or firefox if it is not running.

[2017-01-06 20:22] Eva2017 commented on #11
Hi Erik,
Thank you for reply. I did open my standalone zotero, and I think it is the zetero API is not working appropriately to create the http://127.0.01:23119/zotxt/select.

[2017-01-07 05:51] egh commented on #11
Thanks again! I'm having a hard time reproducing this locally. Can you let me know what version of emacs and zotero you are using? If you are using Zotero 5 beta, I'm hoping to support that soon, but it isn't working yet.

[2017-01-07 06:49] egh commented on #11
I should say right now that zotxt only works with the org mode from ELPA (version > 9). I'm working on ensuring it works with older org modes right now.

[2017-01-08 21:19] egh commented on #11
The zotxt-emacs tests are now passing for the org-mode built in to emacs. This may fix your issue - you will need to update zotxt from MELPA.

[2017-01-17 15:01] wordempire commented on #3
@egh, any updates regarding this feature? zotxt is exactly what I am looking for, but being able to have LaTeX exports with proper citations would make it perfect.

[2017-01-18 03:24] egh commented on #3
@wordempire I'm currently working on porting zotxt to zotero 5, which is taking up most of my time. But this is on my radar!

One tricky issue is dealing with citation options. I might try to integrate with org-ref in this case, if that makes sense as a solution.

[2017-04-10 06:28] saccohuo commented on #3
@egh It would be great if it also supports the export from org to html, LaTeX and so on.
Looking forward to that.

[2017-04-12 23:57] pierwill opened #12 "org html link export"
So I use the following code so that zotero:// links will show up in my html exports from org

[code]

This is in my init file. I must confess my elisp is not good enough to see exactly what's going on here. But the strange thing is that unless I explicitly eval this block with ```C-x C-e```, the link is exported as a zotero://, instead of the preferred text of the reference itself.

Could the prop

[2017-04-13 03:52] egh commented on #12
@pierwill Which version of org-mode are you using? I believe this has changed in recent versions. See this change: https://github.com/egh/zotxt-emacs/commit/69d87791972ae90133b8df7f48c6dac892bf206f

[2017-04-13 16:04] pierwill commented on #12
i'm on 9.0.5

[2017-04-16 16:33] egh commented on #12
In that case, try the new link format for 9.x org mode:
[code]
I think that should work.

[2017-04-16 18:57] pierwill commented on #12
Thanks. That code works, but unfortunately it only works when I *explicitly* evaluate that code. Having it in my init, or *where* it is, does not seem to be cutting it...

[2017-04-17 02:54] egh commented on #12
Probably the issue is that this code is loaded before `org-zotxt`,, and is then overridden by the default export. Try:
[code]

[2017-05-19 14:03] tirocinium opened #13 "org-zotxt-insert-reference-link format"
Is it possible to customize the format of strings inserted with `org-zotxt-insert-reference-link`? Or would it be possible for this function to call [Zotero's Quick Copy](https://www.zotero.org/support/creating_bibliographies) mechanism from within Emacs? That way I can set my formatting preferences within Zotero, and Emacs would just do the yanking.

I see `:citation` and `:chicago-note-bibliogra

[2017-05-22 06:10] egh commented on #13
That sounds like a great idea - much better than the current behavior. It should be easy enough.

In the meantime, you can set `zotxt-default-bibliography-style` by installing the style in zotero and using the name of the style. You can find this out by looking in your zotero directory (`~/.zotero/zotero/*.default/zotero/styles`) or as named here: https://github.com/citation-style-language/styles

[2017-05-22 14:16] tirocinium commented on #13
Thanks! I played around with `zotxt-default-bibliography-style` and found this helpful [blog post](http://www.mkbehr.com/posts/a-research-workflow-with-zotero-and-org-mode/). And I realize now that I was asking the wrong question, or at least an incomplete question. One thing I like about Quick Copy is that you can use it to export either citations (with `CMD-Shift-a` on Mac) or bibliography entri

[2018-05-17 15:03] et2010 opened #14 "Store zotero link in property when using org-noter"
Hello,

Thanks for this wonderful package! zotxt-emacs works great. I want to try this experimental feature, but bump into an error:

[code]

[2018-05-18 01:48] egh commented on #14
Oh, I'm sorry! I somehow forgot to commit an essential piece. It should be fixed now with https://github.com/egh/zotxt-emacs/commit/23a4a9f74a658222027d53a9a83cd4bcc583ca8b

[2018-05-18 18:01] et2010 commented on #14
Thanks for the fix! It works like a charm!

I also want to insert a zotero link in the property drawer. I modifed the noter function and insert a link, It works but the link description is not citation. How could I use citation as link description?

[2018-05-23 06:12] egh commented on #14
@et2010 Can you show what you'd like the entry to look like? I'm sure we can improve this feature - I haven't really used it, I just created it as an experiment.

[2018-05-23 07:09] et2010 commented on #14
What it looks like now:
[code]

The desired entry looks like:
[code]

How can I get the description into the link?

[2018-05-24 04:46] egh commented on #14
@et2010 That looks reasonable. I'll see what I can do.

[2018-06-12 17:16] ransomts opened #15 "Can't find items file"
Hi, I'm trying to set up zotxt on my machine, I've gotten zotxt-emacs from the git repo and release 5.0.2 zotxt installed on the standalone zotero. When I run `org-zotxt-insert-reference-link` the list of files pops up fine in helm, but when I select one emacs spits out this error message:

```REQUEST [error] Error (error) while connecting to http://127.0.0.1:23119/zotxt/items.```

When I cracked

[2018-06-13 15:42] ransomts commented on #15
Thank you! If you need me to collect logs or something just let me know.

[2018-09-19 16:21] pierwill opened #16 "Feature idea: helm integration"
Wild idea:

Using helm for live searching/matching of Zotero records as you type!

Wouldn't be easy, I suspect... :)

[2018-09-20 10:15] NinKenDo64 opened #17 "REQUEST [error] Error (error) while connecting to http://127.0.0.1:23119/zotxt/search."
I installed Zotero standalone, installed the zotxt add-on, and am now attempting to test out zotxt-emacs.
I installed via package-install, GNU Emacs 25.3.1 (x86_64-w64-mingw32), Windows 10 x64.

Other queries such as trying to insert the currently selected items return similar results with slightly different URLs.

Done a bit of "Googl"ing, but haven't found anybody with this issue, I might just b

[2018-09-21 00:14] NinKenDo64 commented on #17
Problem is present whether running built-in org or ELPA org.

[2018-09-23 14:39] egh commented on #16
I'm a https://github.com/abo-abo/swiper user :) but I agree interactive completion would be great. Ivy completion is on my TODO list. helm integration pull requests would be most likely accepted - the last time I looked at helm I got confused by the API.

[2018-09-23 15:04] egh commented on #17
Hm, that is strange. I'm guessing perhaps it is an issue with emacs/windows not being able to find 127.0.0.1 (localhost). You might try running:

[code]

I changed `localhost` to `127.0.0.1` at some point in the past for reasons I can't recall. We can probably change it back to `localhost` and see if that breaks anything.

[2018-09-23 21:04] pierwill opened #18 "`Invalid function: (mk (point-marker))`"
I'm glad this is back after it was gone for a while with Zotero 5!

-----

I'm getting `org-zotxt-insert-reference-link: Invalid function: (mk (point-marker))`...

I switched over to Cask for emacs packages recently, so I'll check things out there... but any pointers on this error message would be great.

[2018-09-24 03:17] egh commented on #18
This should be inside a `lexical-let` and is basically a let binding. Can you let me know what emacs version and platform you are on? Thanks!

[2018-09-24 13:40] EmmanuelCharpentier commented on #17
I have the same problem. It probably resides on the emacs side. I checked than from a browser the query `http://127.0.0.1:23119/zotxt/search?q=Akaike&format=easykey` returned something sensible :
[code]
(Yes, I have a double reference to this paper. Not an errror...).

I'll try de-installing/deleting/re-installing, just in case...

[2018-09-24 14:39] pierwill commented on #18
Emacs 26.1 via homebrew on os x.

Org-mode version 9.1.14

[2018-09-24 14:41] egh commented on #17
@EmmanuelCharpentier Can you try `(defconst zotxt-url-base "http://localhost:23119/zotxt")`
?

[2018-09-24 14:50] EmmanuelCharpentier commented on #17
No luck : same result as before, whether I eval this before or after invocation of `org-zotxt-mode`.

[2018-09-25 03:43] egh commented on #17
Interesting, thank you. I will install emacs on a windows VM and see if I can track this down.

[2018-09-25 03:52] egh commented on #18
Strange, I can't replicate this with emacs 25 or 27 on linux. It might have something to do with cask - I've never used cask to manage my emacs packages, though the zotxt-emacs tests do use them, so I'm not sure why it wouldn't work.

[2018-09-25 07:32] EmmanuelCharpentier commented on #17
I'm running emacs and Zotero under linux (Debian testing) Our favorite scapegoat(i.e. 'Doze) isn't even party to the problem...

[2018-09-25 08:17] NinKenDo64 commented on #17
I'm unable to try that at the moment, however I forgot to mention that I actually changed the source directly to point to localhost (as opposed to 127.0.0.1) at one point. Made no difference at the time.

[2018-09-27 03:19] caw opened #19 "Error connecting http://127.0.0.1:23119/zotxt/items"
Windows 10
org-mode 9.1.14
zotxt into standalone zotero (also installed better bibtex)
zotex-mode installed via MELPA

select an item in zotero
C-u C-c " i

gives

REQUEST [error] Error (error) while connecting to http://127.0.0.1:23119/zotxt/items.

putting that URL into a browser gives:
No param supplied
as the return value!

any help much appreciated!

thanks

[2018-09-27 03:39] caw commented on #19
Apologies - same issue as #17
I'll follow that

[2018-09-27 03:39] #19 closed

[2018-09-27 03:55] caw commented on #17
I have a similar issue

Windows 10
Emacs 25.3.1
zoxtx from MELPA 20180518.147
installed the extension into standalone zotero

request from emacs gives:

REQUEST [error] Error (error) while connecting to http://127.0.0.1:23119/zotxt/search.

but typing

http://127.0.0.1:23119/zotxt/search?q=parkin

give a lovely list with the correct references...

What could I do here to help with this?

thanks so

[2018-12-01 08:54] EmmanuelCharpentier commented on #17
New data point : after upgrading to `emacs 26.1` (actually `27.0.50` : that's what I get from the unofficial Debian repository for emacs-snapshot), `zotxt-emacs` works as advertised.

According to the previous messages, all people having this problem ran `emacs 25.3`. this problem *might* be specific to this `emacs` version.

HTH,

[2018-12-03 04:59] egh commented on #17
@EmmanuelCharpentier Thank you! Glad its working for you now.

[2018-12-09 08:37] KrimpVarkie commented on #17
I have this issue on Windows 10 64 bit: first on `emacs 25.3`, then still on `emacs-26.1-x86_64`. I use `spacemacs 0.200.13`. I have tried changing `zotxt-url-base` and `zotxt-default-bibliography-style` as previously indicated, to no effect. No connection to Zotero is made, since the Zotero debug logs are empty after the attempt. However, `emacs` can still connect to http://127.0.0.1:23119/zotxt/

[2018-12-17 11:16] DesiQuintans commented on #17
Hi, I also have this problem on Windows 10 64-bit, Zotero Standalone (newest version 5.0.58), and Emacs 26.1 (not Spacemacs or anything, just regular Emacs).

    GNU Emacs 26.1 (build 1, x86_64-w64-mingw32) of 2018-05-31

I've changed `zotxt-url-base` and `zotxt-default-bibliography-style` with no effect. I've also tried both versions of zotxt from MELPA (20180518.147) and MELPA Stable (0.1.34),

[2018-12-17 11:18] DesiQuintans commented on #18
I briefly had this problem but simply ran `M-x package-reinstall` to get the newest version on MELPA.

[2018-12-17 22:31] DesiQuintans commented on #17
Okay that's strange. I have it working on my work machine (Windows 10 Enterprise 64-bit, maintained by my uni) but it's not working on my laptop (Windows 10 Home 64-bit).

- I have admin permissions on both and have been running Emacs as admin, but I've also tried running them both as a normal user.
- I made sure that the software versions on both machines matched:
   - Emacs 26.1 of 2018-05-31

[2019-01-20 16:40] tengyuhuo commented on #17
@DesiQuintans
I have the similar situation as yours. I have it working on my surface pro 3 (Windows 10 Pro 64-bit), but it's not working on my desktop computer (Windows 10 Pro 64-bit).
The software versions and configuration are identical. Hosts files are identical on two computers.

[2019-02-03 04:32] colliand commented on #17
I have the same issue. API responses are appearing in the browser. Emacs is reporting `REQUEST [error] Error (error) while connecting to http://127.0.0.1:23119/zotxt/items' after I attempt `C-c " i`. My references do appear inside the Helm window in emacs. After selecting one, I receive the REQUEST error above.
![](https://wwejubwfy.s3.amazonaws.com/_Minibuf-1_2019-02-02_20-28-11.png)
![](https://

[2019-03-19 07:50] chriad commented on #17
I have the same problem.
From the zotero debug output:

[code]

emacs version:

#### System Info :computer:
- OS: gnu/linux
- Emacs: 25.2.2
- Spacemacs: 0.300.0
- Spacemacs branch: develop (rev. 4b195ddfc)
- Graphic display: t
- Distribution: spacemacs
- Editing style: vim
- Completion: helm
- Layers:
[code]
- System configuration features: XPM JPEG TIFF GIF PNG RSVG IMAGEMAGICK SOUND GPM DBUS GSE

[2019-04-26 10:51] EmmanuelCharpentier commented on #17
TL;DR : The problem is definitely on emacs' side, probably in its handling of `http` communications.

I have been unable to reproduce my (extremely transient) success  with emacs-snapshot. I now think I may have been confused.

Current setup : Linux Debian testing (64 bits), emacs as packaged by Debian ("This is GNU Emacs 26.1 (build 2, x86_64-pc-linux-gnu, GTK+ Version 3.24.4) of 2019-02-03, modi

[2019-04-26 13:24] EmmanuelCharpentier commented on #17
TL;DR : it was a proxy problem in my case, indeed. Therefore, this, or a firewall problem, could be the cause for Windows users (the native Windows firewall is a bit on the paranoid side...).

On a smaller machine, with about the same software configuration, directly connected to the Internet (i. e. no proxy involved), `zotxt`, as implemented in the `org-zotxt` minor mode works as intended.

In fa

[2019-04-27 05:10] egh commented on #17
@EmmanuelCharpentier Thank you so much for this!! I will take a look on Monday.

[2019-05-10 10:00] EmmanuelCharpentier commented on #17
Dear Erik,

1) Answering my own question (in order to help future Googlers with the same issue) :

One can either
- define the `NO_PROXY` (or `no_proxy`) environment variable to a comma-separated list of hosts, domains and URLs not to be proxified, or
- use the `url-proxy-services` of the `url` emacs library to the same end (probably in the `.emacs` starttup file).

This is by no way obvious to fi

[2019-07-03 16:56] zsaur commented on #17
Had the same problem here and found the solution. It had nothing to do with this repo. I was following this guide http://www.mkbehr.com/posts/a-research-workflow-with-zotero-and-org-mode/ and there was some emacs configuration code that I just copied and pasted without paying much attention:
[code]

It turns out this part was causing the problem and removing it solved the problem.

I am suspecting

[2019-07-28 20:46] Zreshamwala commented on #18
Also experiencing this issue.

I am running GNU Emacs 26.1 on Windows 10
Org-mode Version 9.1.9

Unlike *pierwill*, not using cask.

M-x package-reinstall did not resolve it.

[2019-08-05 05:30] egh commented on #17
@zsaur That's very odd - I'm not sure why that would cause on issue, but it's good to know. Thank you!

[2019-08-05 05:43] egh commented on #18
@Zreshamwala I'd really like to fix this but I'm not sure what is going on. I *think* the problem is that somehow `cl` is not being loaded properly or there is something wrong with your `elc` files. The closest error I can find on the internet is here: https://github.com/Sarcasm/flycheck-irony/issues/7

Can you try to reproduce using `emacs -q` (see https://www.gnu.org/software/emacs/manual/html_n

[2019-09-01 14:01] mjj55409 commented on #18
I just ran into the same issue.

Emacs 26.2
Ubuntu 18.04
Zotero 5.0.74

[2019-09-17 16:50] proudot commented on #17
Hi folks, I am reporting the same issue on Win10 with emacs 26.1. I am behind a firewall by my url-proxy-services are set up correctly for use with MELPA.  Using

[code]

didn't help. I didn't copy MkBehr tutorial. Any ideas ?

[2019-10-04 03:14] egh commented on #17
Hi all,
Another user reported a bug https://github.com/egh/zotxt/issues/12 that mentioned the `--compressed` option not being supported in the `curl` on windows. I wonder if someone might try:
[code]
and see if that corrects the issue for you?

[2019-11-16 02:29] millarc opened #20 "request-deferred and deferred names changed"
A couple of days ago I downloaded Zotero,-5.0.77 the Firefox browser plugin, tzotxt-5.0.3.xpi plugin and finally zotxt-emacs from this site. By the way, Debian testing, with GNU Emacs 27.0.50 (build 108, x86_64-pc-linux-gnu, GTK+ Version 3.24.12) of 2019-10-19, org Org mode version 9.2.6 (release_9.2.6-559-ga01a8f @ /usr/local/share/org-mode/lisp/)
Apparently sometime during the past couple of yea

[2019-11-16 06:17] egh commented on #20
@millarc I'm sorry you had this issue. The package names on MELPA are still `request-deferred` (http://melpa.org/#/request-deferred) and `deferred` (http://melpa.org/#/deferred) as far as I can see. How are you installing your packages?

[2019-11-16 12:42] millarc commented on #20
I don't use MELPA (perhaps I should.)
I cloned them from https://github.com/tkf/emacs-request and https://github.com/kiwanami/emacs-deferred
Thank you for developing emacs-zotxt - it fits my needs.
Charlie Millar

[2019-11-16 17:42] egh commented on #20
Glad to help! The `.el` file is still named `request-deferred.el` and `deferred.el`, so I think the code that calls `(require 'request-deferred)` is still correct. I can update the README to point to the required libraries for people who do not use MELPA.

[2019-11-24 13:00] Viehzeug commented on #18
I have the same issue on Emacs 26.2 on macOS 10.15.1.
The re-installation trick did not work for me.
I ran it twice with `-q`. First with my standard `.emacs.d.` folder and once with a competently clean `.emacs.d` folder.
On my Ubuntu machine (which uses the same config files) it works flawlessly.

**My `.emacs.d`**

[code]
Here is the content of the message buffer:

[code]
**Completely clean conf

[2019-11-25 05:39] egh commented on #18
@Viehzeug Thank you so much for the details!! Iwill have to find a Mac to figure out how to fix this.

[2019-12-08 14:31] plandes commented on #17
I am now having this issue as well.  I've tried all the suggestions above.

Is there any update?

Here's my version configuration:
- Zotxt 5.0.3
- Zotero 5.0.80
- Orgmode 9.1.9
- Emacs 26.2

[2019-12-12 15:44] TshuW commented on #17
I originally opened the link with `org-open-at-point`, but later I realized that I should use`org-zotxt-open-attachment` and point out here in case someone makes the same mistake as me.

[2019-12-16 23:42] egh commented on #17
Hi @plandes , sorry for the delay, I'm hoping to get my hands on a mac in the next day or two to look into this!

[2020-01-03 15:07] pbienst commented on #17
Windows 10 setup here. For me the fix (setq request-backend 'url-retrieve) is needed when trying to import data from zotero.

However, when clicking the link to open the item in zotero, I get a request-default-error-callback http://127.0.0.1:23119/zotext/select error

[2020-01-03 15:10] pbienst opened #25 "smart quotes are not displayed correctly"
Windows 10,  set up to use utf-8 with (set-language-environment "UTF-8").

When inserting a reference from zotero, the smart quotes are displayed as â\200\230 and â\200/231.

I use the zotero better bibtex plugin, as suggested.

[2020-01-03 16:42] pbienst opened #26 "parse error"
After playing around a bit with Zotero and zotxt-emacs, which mostly worked, I decided to start for real from scratch, with a new account and an empty slate.

This time however, whenever I want to insert the currently selected paper from Zotero, I get

[code]

One this which is different from my previous install is that installed the zotfile plugin, but I doubt this has an effect.

Just like befor

[2020-01-07 04:44] egh commented on #26
Thanks for the report! If possible, can you enable Zotero debugging (https://www.zotero.org/support/debug_output) and attach the output? Thank you!

[2020-01-07 05:36] egh commented on #17
@plandes I just tested on:

macos 10.14.6
emacs 26.3
zotero 5.0.80
latest org mode from melpa
zotxt 5.0.3

and I was unable to reproduce any issues. Is it possible to set:

`(setq request-log-level 'debug)`

and paste the content in the ` *request-log*` buffer here? (Note the space in front of the buffer.) Thank you!

[2020-01-07 05:42] egh commented on #25
Thank you for the report! Can you verify that you are using a recent version of `request`? It is possible this is https://github.com/tkf/emacs-request/issues/77

`C-h P request` should report the version you are using. Thank you!

[2020-01-07 15:48] pbienst commented on #25
I have a fairly recent one: 20191211.2051

[2020-01-07 15:57] pbienst commented on #17
[code]

[2020-01-07 16:23] egh commented on #25
Huh. I'll have to fire up windows & see what's going on here. It works fine in MacOS and Linux as far as I can tell.

[2020-01-07 17:02] egh commented on #17
Thank you! I'll look into this further tonight.

[2020-01-07 18:03] plandes commented on #17
@egh I set the debug level as you requested, and I still get this:
[code]

I also tried to connect directly to this bound port with `netcat` and get this:
[code]

Hope this is helpful in debugging as its all I have to give.  Let me know what else I can do.

Thanks very much in advance.

[2020-01-07 19:47] pbienst commented on #26
Rebooting seems to have solved this problem, sorry for the spam :-)

[2020-01-07 19:47] #26 closed

[2020-01-08 05:50] egh commented on #17
@pbienst For your issue, there was an upstream change to Zotero that affected the `select` function. I have created a new release to fix this:

https://github.com/egh/zotxt/releases/tag/v5.0.4

[2020-01-08 05:51] egh commented on #17
@plandes After setting the debug level, can you report what is in the ` *request-log*` buffer? (There is a space before the first `*` in that buffer name).

[2020-01-08 15:12] pbienst commented on #17
Works now, thanks!

[2020-01-08 16:22] egh commented on #17
@pbienst Great!

[2020-01-08 16:30] #20 closed

[2020-01-08 16:32] plandes commented on #17
@egh  Ah, I see the buffer now.  Here are its contents:
[code]

[2020-01-08 16:35] egh commented on #17
@plandes If the endpoint is not found, that means that zotxt failed to load correctly. Can you restart Zotero and check your zotxt add on installation? Thanks!

[2020-01-08 16:45] plandes commented on #17
@egh I found the extension wasn't installed (even after installing around the time of the first problem).  So then I went to install it again and restarted and found it still missing.  I then went to install again, and judiciously searched and confirmed the extension existed before restarting.  The third time was a charm.  It's either a blip in some quantum field, parallel universe phenomena and <

[2020-01-08 16:58] egh commented on #17
@plandes Strange. Perhaps there is a problem with the installation. I'll take a look, but I'm glad it's working for you now!

[2020-01-08 17:14] plandes commented on #17
@egh is there a Zotero error log file somewhere on the filesystem we can look at?

[2020-01-08 17:30] egh commented on #17
@plandes you should be able to look at the debug log by following the instructions here: https://www.zotero.org/support/debug_output

[2020-01-08 17:34] plandes commented on #17
I don't see anything so I suppose it clears on restart and it is too late.  I'll do this next time.  Thanks again for your help Erik!

[2020-01-17 07:16] #14 closed

[2020-01-19 18:44] #11 closed

[2020-01-19 19:10] egh commented on #25
@pbienst I tried to reproduce this on a Windows 10 machine and on linux. I was able to do so when `request-backend` was set to `'url-retrieve`. However, my window system has `curl` installed, and when `request-backend` is set to `curl` (which is default when curl is installed), smart quotes work correctly.

I'll look further into the issue, but as a workaround, consider installing `curl` if you ca

[2020-01-19 19:37] egh commented on #25
Possibly related: https://github.com/tkf/emacs-request/issues/175

[2020-01-20 04:45] egh commented on #18
Thanks again for the careful reproduction steps. I was able to reproduce this using melpa stable and windows. The version in melpa stable was quite old (Sorry!). I tagged a new release, and, after upgrading, the issue is fixed! Thanks again for the report and to @Viehzeug for the reproduction steps.

[2020-01-20 04:45] #18 closed

[2020-01-20 04:47] egh commented on #15
Sorry, I'm cleaning out old bugs. Is this still an issue?

[2020-01-20 04:48] egh commented on #17
I have improved the testing on zotxt-emacs and zotxt. I have added a test endpoint to ensure that basic zotxt functionality is available. I advise anyone with this issue to upgrade zotxt and zotxt-emacs and see if the issue can be reproduced. I'm going to close this issue, but please do open a new issue if you see one! Thanks everybody for the bug reports.

[2020-01-20 04:49] #17 closed

[2020-01-20 17:58] ransomts commented on #15
Looks like it's been resolved. Got it installed and working just now.

[2020-01-20 18:01] egh commented on #15
Great, thank you!

[2020-01-20 18:01] #15 closed

[2020-01-20 22:55] #7 closed

[2020-01-20 22:56] egh commented on #7
I'm closing out some old tickets, but if you have a PR please do feel free to submit it or run it past me. Thank you!

[2020-01-22 04:10] egh commented on #5
I'm deprecating easy keys & recommending everybody use better bibtex, so I am going to close this ticket. Thank you for the report!

[2020-01-22 04:10] #5 closed

[2020-02-17 20:37] egh opened #37 "`nil` key when using `zotxt-"
First of all, thanks for your awesome extension!

I hit the following bug:
When I visit `http://127.0.0.1:23119/zotxt/` I get the message `No endpoint found`. In emacs `org-zotxt-insert-reference-link` seems to work fine, but `org-zotxt-open-attachment` results in

[code]
which I think is related to the broken endpoint.

I'm using `zotero 5.0.82`, `zotxt 5.0.5` and `org-zotxt-mode 20200120.1950` f

[2020-02-17 20:56] egh commented on #37
@bluewww can you show the org entry you are looking at when you get this error? Can you verify that the content is still in your zotero library?

[2020-02-25 07:02] egh commented on #16
I do have ivy completion working, btw

![image](https://user-images.githubusercontent.com/22718/75222683-9b740800-5759-11ea-858e-2771008b8326.png)

I don't know what helm completion would involve, but I welcome prs @sati-bodhi

[2020-05-05 17:43] shrub77 opened #38 "org-noter-create-skeleton doesn't work with org-zotxt-noter"
Here are the steps to reproduce:
1. Create empty org file
2. Create heading "* Test heading"
3. `M-x org-zotxt-noter`, select PDF with contents/annotations
4. `M-x org-noter-create-skeleton`
Nothing happens. Am I doing something wrong?

[2020-05-07 05:45] egh commented on #38
Hi @shrub77 ! Thanks for the report. Yes, this should work. I'm not sure why it isn't working. I'm looking into it.

[2020-05-08 19:41] hyiltiz commented on #16
This would be truly awesome; I use `ivy` myself, and am really looking forward to the ability of selecting *multiple* items and creating the references for each one of them. I tried `C-c " i (org-zotxt-insert-reference-link) RET algorithms` to list matching items, and using arrow keys on the keyboard to select one, then a) press `C-M-m` to create an item then select another one to keep creating; o

[2020-05-08 19:51] hyiltiz opened #39 "Feature request: Export collection subtree as org subtree"
Say I have a collection in Zotero that goes:
[code]

And for the current project, I would like to export the `CS` subtree into a org subtree:
[code]
Note: `<Others>` contains the reference in the `Algorithms` collection but in neither `Sorting` or `Trees`.

I spent an afternoon looking at my Zotero interface, then inserting each one manually into an org file with `zotxt-emacs`. I imagine either mu

[2020-05-09 05:23] egh opened #40 "Support multiple selections"
see https://github.com/egh/zotxt-emacs/issues/16

Using ivy (at first) support selecting multiple citations and bulk inserting.

[2020-05-09 05:24] egh commented on #16
@hyiltiz I should have said that zotxt works fine when using `ivy`, but it doesn't have any ivy-related code in it at the moment. I just had a look at adding multiple selection using ivy, and it seems possible, but it will be a little tricky. I'm going to open a new issue for this.

[2020-05-09 05:32] egh commented on #39
Hi @hyiltiz - This sounds great, though it would require a new endpoint in zotxt to support it. I probably won't have the time to work on this, but I welcome pull requests!

In the meantime, here is a quick workaround I came up with. If you do a CSV export of your content from Zotero, that will include the zotero id. Using your preferred method of text processing (mine would probably be an emacs m

[2020-05-09 05:38] egh commented on #38
This is working inconsistently for me. I'm using the this is a test https://github.com/politza/pdf-tools/blob/master/test/test.pdf

[2020-05-09 05:38] egh commented on #38
And by inconsistently, I mean I can't make it fail for me, but I'm pretty sure it did at some point :)

[2020-05-09 23:04] hyiltiz commented on #39
Thanks so much! That workaround is brief enough to be easily implemented. So `org-zotxt-update-all-reference-links` doesn't care the content of `foo`? I really liked the APA style references; I am assuming it would expand the ID into one?

[2020-05-10 18:05] egh commented on #39
Yes, it ignores the text content of the link and only cares about the location, which is based on the zotero id.

[2020-05-11 05:10] #39 closed

[2020-05-14 18:21] plantarum opened #41 "Search everything returns error http 400"
Hi,

I'm using the latest version, including the new commit to support searching all groups. It solves my previous issue accessing group libraries. However, if I try to search "everything" it fails with the error `(error http 400)`. The same search with the options `title, creator, year` or `fields` works as expected.

Thanks again,

Tyler

zotxt-emacs 8a88de5 master origin/master Group together c

[2020-05-19 15:38] plantarum opened #42 "org-zotxt--link-follow and org-zotxt-open-attachment"
Hi,

By default, zotero links have the `follow` parameter set to the function `org-zotxt--link-follow`. This doesn't do anything for me - pressing enter with point on a link, nothing happens.

Looking through the code, I think the function `org-zotxt-open-attachment` actually behaves as you'd expect when following a link. Replacing the `:follow` parameter with that function name, I can open the li

[2020-05-19 16:24] plantarum opened #43 "Function to insert citation regardless of description style"
Hi again,

I've set my description style to use better bibtex, which gives me nice control over how the links appear in my document. However, sometimes I also want to insert the full citation. This doesn't need to be an actual org link, it could be inserted as plain text without markup. Or a link, I don't have a strong preference.

I think the code is mostly already there to provide this feature,

[2020-05-20 02:41] plantarum opened #44 "question re: org-zotxt-insert-reference-links-to-items"
Hi again,

Sorry for being a pest. I notice that `org-zotxt-insert-reference-links-to-items` explicitly adds a newline, and then moves point another line forwards.

This is a bit awkward, as I'm using `org-zotxt` to insert a citation within a line of text. In this case, I'd like to have the link inserted, and point left immediately after the link. As written, if there's any text following the line

[2020-05-20 02:53] plantarum commented on #43
On further investigation, if I debug my function (`org-zotxt-insert-reference-citation` in the first message), it works as expected, but when I undebug it, it inserts the better-bibtex style link again. Not sure why that would be?

[2020-05-31 15:27] notuntoward opened #45 "package name is "zotxt""
Just a small thing, but the name of the melpa package isn't given in the documentation.  I tried "zotxt-emacs" and when that didn't work, concluded that the package name must be "zotxt".

[2020-05-31 19:09] egh commented on #45
There is a link to MELPA but you're right, it should say the name. I'll update the README

[2020-05-31 19:09] egh commented on #45
8c246b4

[2020-05-31 19:09] #45 closed

[2020-06-03 11:59] Sepulta opened #46 "org-zotxt-open-attachment prompts `file:` input"
Hello,

Just recently installed the Zotxt (5.1.0) and zotxt-emacs (5.0.5) plugins on my Linux machine, and was playing with `org-zotxt-insert-reference-link` and then opening those links again. I noticed that when I try to open some of the links (cursor on that link, opening with `C-c " a`) don't open that file, but rather it opens a prompt for inputting a filename in the minibuffer.

I haven't ex

[2020-06-04 04:46] egh commented on #46
If there are multiple attachments for the item, you will be prompted for which to open. There should be completion for the file name. I think that is probably what is happening here.

[2020-06-30 14:18] pbienst opened #48 "inserting currently selected item from zotero?"
I had this command in my init to insert the currently selected item from zotero:

[code]
However, after upgrading to the latest version, this no longer works and I'm prompted for a search field.

How do I update this to gain access to the previous functionality?

[2020-07-01 04:42] egh commented on #48
Strange, probably a recent bug. Thanks for the report, I'll take a look.

[2020-07-06 04:29] egh commented on #48
When I use `C-u C-c " i`, this works for me. I don't understand prefix args well enough, but this also works:

[code]

I think I changed something recently with prefix args, so that presumably broke this.

[2020-07-06 04:31] egh commented on #41
Sorry for the late response. Is this still an issue?

[2020-07-06 07:42] pbienst commented on #48
Thanks, that does the job!

[2020-07-06 07:42] #48 closed

[2020-07-06 14:15] plantarum commented on #41
I think so. I've since changed my workflow so that it doesn't effect me anymore, though.

I learned that Better BibTeX supports syncing my Zotero library to both BibTeX and CSL files, so I'm doing that now. That lets me use ivy-bibtex for cite-as-you-write support, using the .bib file to search and insert citation keys. Which means I'm not using zotxt at all in this process.

It would be nice to c

[2020-07-08 05:39] egh commented on #41
Strange, I don't have this same issue. I'm going to close the issue for now, but if you want to retry I'd be happy to try to debug. It probably has something to do with failing to account for some data issue. Thanks for the report.

[2020-07-08 05:39] #41 closed

[2020-07-11 20:14] #46 closed

[2020-09-07 09:52] lh-astro opened #49 "Default pdf viewer"
First of all, thank you for this package!

zotxt used to work very good in connection with pdf-tools (https://github.com/flatwhatson/pdf-tools) in doom emacs. Since an update about a month ago `C-c " a` doesn't open pdf-tools but the systemd default pdf-viewer instead. Is there a way to change this or set which pdf viewer should be used?

[2020-09-08 02:26] egh commented on #49
Thank you! I don't think I've changed anything in zotxt. It uses `org-open-file` to open the file, so the documentation for that function should explain more on what it's doing. Of course, it's possible I did change something, but I haven't made many changes to the code base recently.

[2020-09-13 09:12] AlessandroW commented on #37
On my machine the latest release does work when opening the file with `M-x org-zotxt-open-attachment`.
However, the hyperlink can't be opened with the error message:
[code]
Opening [http://127.0.0.1:23119/zotxt](http://127.0.0.1:23119/zotxt) in the browser leads to the message `Endpoint not found`.

Is this related or a different issue?

[2020-09-13 20:11] egh commented on #37
This is expected.

I can't reproduce the problem you are seeing. Can you show me what link doesn't work for you? Thanks!

[2020-10-31 13:27] alecshaw opened #50 "Nil entry from `org-zotxt-insert-reference-link`"
When using `org-zotxt-insert-reference-link`, when I try to add an entry from Zotero, it appears in Emacs as `zotero://select/items/nil`, and the error message `[error] request--callback: peculiar error: 500` is printed.

zotxt appears to be working correctly up until the point of insertion, as it can pull up a list of matching entries, but when I select any one, this null link is produced. I'm no

[2020-11-02 04:20] egh commented on #50
Thanks for the report! The problem is probably that `zotxt-default-bibliography-style` is set to something that isn't available for you in zotero. Sorry - it should report a better error message. Can you tell me what the value of `zotxt-default-bibliography-style` is? And if it's chicago (the default) can you check that you have that style installed in Zotero? Thanks!

[2020-11-05 18:36] alecshaw commented on #50
Thank you for your reply!

This was exactly the issue. I removed the setting from my init file and it fixed the issue, and then I understood it was looking for a filename, not the name within Zotero. I had written the style name as it appears in Zotero, not as the `.cls` file is stored.

[code]

Replacing the above with `unified-style-sheet-for-linguistics` makes everything work.

Many thanks for

[2020-11-05 18:36] #50 closed

[2020-11-06 05:21] egh commented on #50
Great! I'm working on a better error message for this so it should be more clear in the future.

[2020-12-30 17:23] JonBoyleCoding commented on #3
I presume this is still not a feature at this point? The rest of this works really well just to say!

[2021-01-04 11:08] damiencourousse opened #52 "status of easykeys"
hello,

I am using zotxt-emacs and I am quite happy with it so far.
I am experiencing an issue with easykeys, but I see in other issue reports that easykeys is deprecated and that should not be used (e.g., in issue #5).

Is easykeys still supported and tested?  The easykey functions are not documented in the README, but are not reported as deprecated in the source code either.

thanks,

[2021-01-04 16:46] damiencourousse opened #53 "format of zotero:// links"
Reading from the source code, I understand that this extension uses the following format for zotero:// links:
- with zotero cite keys: `zotero://select/items/` + `key`

However, exports from better bibtex can generate links with two different formats, as follows (see [here](https://github.com/retorquere/zotero-better-bibtex/blob/275d09b059617fa35febc06289a44c2b388c9dd8/translators/Better%20BibTeX%

[2021-01-05 06:03] egh commented on #52
Thanks for the report! I think using BetterBibTeX citekeys is a far better option and I'm in the process of deprecating easy keys. Sorry for any confusion. I have a branch to deprecate them (https://github.com/egh/zotxt-emacs/pull/51) but I'm still working on it.

[2021-01-05 06:05] egh commented on #52
If you like the general format of easy keys it should be possible to use the same format with BetterBibTeX.

[2021-01-05 09:24] damiencourousse commented on #52
Thanks for the feedback!
I agree that easy keys could be probably replaced by BetterBibTeX for most uses.

Please could you elaborate?  AFAIK, using BetterBibTeX, the only way to insert a reference link is to drag'n drop the reference from zotero into an org document.  Or is there another way?   zotxt-emacs is still useful here because it allows to stay in the emacs window.

I have the following n

[2021-01-15 04:25] egh commented on #53
Hi @damiencourousse ! Sorry for the late response. I think this is mistake in the BBT export. It should look like `zotero://select/items/[LIBRARY]_[KEY]`. This was an internal format used by Zotero itself - it may still be. I don't use the translators - I insert links directly from emacs - so I hadn't seen this issue.

[2021-01-15 04:51] egh commented on #52
Are you using the org mode links or pandoc citations? I was thinking of pandoc citations.

If you are using pandoc citations, there doesn't seem to be a great way. If you use the Quick Copy method with "BetterBibTeX Citation Key Quick Copy"

![image](https://user-images.githubusercontent.com/22718/104681673-bd46e800-56a7-11eb-8be9-7f33d606c078.png)_

It generates a citekey like: \cite{doe:2005firs

[2021-01-16 15:36] damiencourousse commented on #53
Thanks for your feedback.  I have opened an issue in BBT.  Feel free to comment!

[2021-01-16 15:48] damiencourousse commented on #52
Thanks for the detailed feedback.

In emacs, I use org mode links ;).

I also use LaTeX, so I have configured zotero/BBT to do exports from zotero in the LaTeX format.
Since exports from zotero are reserved for LaTeX usage, from emacs, I would like to import in org files references as full citations and as citation keys.  The format of the zotero:// link does not really matter as long as it correc

[2021-01-18 16:24] damiencourousse commented on #53
You are right.  The current format is `zotero://select/items/[LIBRARY]_[KEY]`.  It was a misunderstanding from me, since on my setting, `[LIBRARY]` is `1`.

As reported in the BBT issue, this format is still supported but deprecated.  Do you plan updating the format of zotero links in zotxt-emacs?

[2021-01-22 06:32] egh commented on #53
Ah, I didn't know that! I will fix this. Thank you.

[2021-01-28 00:23] codetrick opened #54 "Function `org-zotxt-update-reference-link-at-point` eats up spaces after the link"
emacs version: 27.1
zotxt-emacs version: 20210115.456

First, thanks for this very helpful package!

I found that the function will eat up spaces if the target link has spaces after it. I think it's because `(org-element-context)` returns the end position that is just before the next element / word. Fortunately there's a property `:post-blank` that we can use.

Proposed solution:
Replace
[code]
wi

[2021-01-28 02:53] egh commented on #54
This looks good to me! Can you file a pull request? Thanks.

[2021-01-28 07:50] codetrick opened #56 "Link description style ":citekey" does not seem to be supported by zotxt?"
emacs version: 27.1
zotxt version: 5.1.0
zotxt-emacs version: git master branch

Currently when I set `org-zotxt-link-description-style` to `:citekey`, I cannot insert references and instead get the error "deferred error : (wrong-number-of-arguments #<subr signal> 3)". What did I miss?

I see that in commit 7a71684 both `:easykey` and `:betterbibtexkey` are replaced by `:citekey`. I understand tha

[2021-01-29 04:51] egh commented on #56
Sorry! My mistake. I was working off a branch of zotxt that has not been released yet. I will release a fix ASAP.

[2021-01-29 21:15] #54 closed

[2021-02-18 20:09] bjonnh opened #57 "(void-variable it) when trying to use org-zotxt-noter"
I can insert a citation, but whenever I try to do a org-zotxt-noter on an empty headline, I get this error.

Tried to run debug on it, put it just tells me it is in "org-zotxt-noter"

I see there are references to "it" in the code but nothing seems to define it (but I don't know how that deferred work)

Running on commit 87d8c4836c5f43530db8f00a66b7b69087236875 (in doom emacs if it matters).

[2021-02-22 03:49] egh commented on #57
@bjonnh Thanks for the report! I'm not able to reproduce this. However, I did not that `org-zotxt-noter` did not require `deferred` and have added that in a760009 which might help. Do you have `deferred` installed & loaded?

[2021-02-22 06:12] egh commented on #56
Should be fixed in https://github.com/egh/zotxt/releases/tag/v5.1.2

[2021-02-22 21:16] LawrenceAusten commented on #37
I am experiencing the same issue.  I rolled back to 5.1.1 and everything works as before, so I guess something changed with 5.1.2.  Thank you very much for creating such a useful piece of software!

[2021-02-22 21:40] egh commented on #37
Thanks for the useful into @LawrenceAusten ! I'll look into that

[2021-03-11 11:38] arunkmv commented on #49
Faced the same issue in Doom Emacs. The external link zotxt supplies is of file type, not pdf, hence Org was opening pdf files with the system default pdf viewer (which is the default set by Org).

Adding this line to config.el solved it for me.
[code]

[2021-03-14 18:33] egh commented on #49
Excellent, thanks for the tip!

[2021-03-23 10:44] edgar-vincent opened #58 "`org-zotxt-noter` not loaded?"
Hi!

Thanks a lot for this extremely useful package.

I installed `zotxt` in Doom Emacs, which uses `straight.el`, with `(package! zotxt)`. `org-noter` is also installed.
However, after enabling `org-zotxt-mode`, the `org-zotxt-noter` command doesn't seem to be defined. It works after I have `eval-defun`ed it from the source file.

I should probably be giving you more information about this, but I

[2021-03-24 22:51] egh commented on #58
Hi @edgar-vincent  - I'm not sure how straight works, but if you use `M-x load-library org-zotxt-noter` or `(require 'org-zotxt-noter)` that should do the trick. Or if you bind it to a key it should probably autoload.

[2021-03-25 11:34] edgar-vincent commented on #58
Indeed, all your suggestions work. Sorry for my silly question - hopefully it'll help others :)

Thanks.

[2021-03-25 11:34] #58 closed

[2021-04-13 22:29] brunoperdigao commented on #53
Hi, I hope it is related to this topic, but I am wondering if zotxt can handle zotero links created by zotfile. Their format is `zotero://open-pdf/library/items/`. These links open the pdf in a specific page, related to the annotations.
I tried to open with the `org-zotxt-open-attachment` command but It didn't work.

[2021-04-14 04:56] egh commented on #53
@brunoperdigao Good question! Right now it can't, but it would be very easy to implement. I assume the item key follows after `/items/`?

[2021-04-14 12:59] brunoperdigao commented on #53
@egh Yes, the item key and the page number, which directs to the specific page, for example `zotero://open-pdf/library/items/XXXXXXXX?page=3`
I tried to find more information on their documentation, but they don't go into much detail about it: http://zotfile.com/#extract-pdf-annotations
It would be great to have this implemented! Thanks

[2021-06-22 22:10] EmmanuelCharpentier opened #59 "zotxt needs examples and a tutorial."
I have used used `bibtex` for 34 years (and counting...). I recently started to use `org-mode`, where I use `org-ref` with `.bib` files, and dabbled lightly with markdown (via `pandoc`), again using `.bib` files.

I have, however, a strong incentive to use Zotero with as little interim steps as possible : Zotero is the base bibliographic tool of by workplace, where most of the work is done with Wo

[2021-07-15 07:42] ChauhanT commented on #59
I am on doom emacs. I just want to see my list of zotero refs and create links to the underlying PDF files :D Can't figure out how to do this! But the fact that he software exists and is maintained is amazing <3 I think Emacs has a package for almost everything!

[2021-08-03 05:40] egh commented on #59
Hi @EmmanuelCharpentier

Yes, I agree :smile: and I'm sorry, as you can see by my late response I can't promise anything - I've been busy with other things.

In general, if you use org-mode, you probably can't (at the moment) end up with a proper paper with references and a bibliography - but you can insert links. If you use markdown + pandoc, you should be able to insert references.

However, wit

[2022-02-01 17:06] titaniumbones commented on #59
@egh I'd love to see this move forward. Is there anythhing I can do to make it easier to use zotero directly in my org cites?

[2022-02-10 06:38] egh commented on #59
Hi @titaniumbones ! Sorry for the delay.

Yes, my top priority is making zotxt work properly with org cite. I *think* it will be pretty easy to do.

If you set
[code]

You should be able to insert org-cite citations with `C-" k` (if you enabled `zotxt-citekey-mode`) You'll need to manually add `[cite:...]`

You'll still need to export a JSON or BibTeX file manually for use in your org document, bu

[2022-03-12 23:11] Awannaphasch2016 commented on #59
I do agree that popular packages should always have strong example, tutorial, and documentation.

But the nature of open source doesn't take developer time and populatiry projection into account.

It is best to have ability to read and figure out code your self. I wouldn't say that this is a hard constraint, but if you going to go emacs route. 95 percent of the time you can blaze through the probl

[2022-03-12 23:13] Awannaphasch2016 opened #61 "problem getting zotxt-emacs to work in wsl2"
i am trying to figure out how zotxt api works because I am running emacs on wsl2 with Ubuntu distro. It seems that zotxt-emacs simply call the api endpoint and it returns the following which is clear that I need to install zotero in wsl2 Ubuntu, but I manage my zotero in window, so if I can reroute such that zotxt make use of existing window version of zotero. This is be solved.
[code]

[2022-03-31 09:55] rytis-paskauskas opened #62 "org-zotxt-noter missing"
It seems like a promising package if only I could make it work.

I've got a Melpa installation of zotxt and the Zotero add-on. My goal is to make `zotxt` work together with `org-noter`, to open files **inside Emacs** just like `org-noter` does.

When trying to open a link with `C-c " a`, the status line notifies me that: `/usr/bin/xdg-open /path/to/file.pdf...done` ~~but that's that. Absolutely no

[2022-04-12 06:02] egh commented on #62
Thanks for the report @rytis-paskauskas and sorry for the late response.

You probably need to `(require 'org-zotxt-noter)`. Sorry about that! I'll update the README.

[2022-04-14 17:15] egh commented on #61
I'm not sure how wsl2 works. If zotero is not listening on localhost, you could change the value of `zotxt-url-base`.

[2022-06-28 12:30] steveb-123 opened #65 "Markdown completion-at-point 'peculiar error'"
Attempting to set up `zotxt` and `zotxt-emacs` for the first time I am having trouble getting `completion-at-point` working. I don't know if this is a `zotxt` or `zotxt-emacs` or just a setup problem of my own, unfortunately.

In a markdown file with `zotxt-citekey-mode` enabled, if I type `@doe` then `M-x` `completion-at-point` I get an error message `peculiar error`, and, sadly, no citation comp

[2022-06-28 12:31] steveb-123 opened #66 "`peculiar error` with completion-at-point in markdown-mode"
Attempting to set up `zotxt` and `zotxt-emacs` for the first time I am having trouble getting `completion-at-point` working. I don't know if this is a `zotxt` or `zotxt-emacs` or just a setup problem of my own, unfortunately.

In a markdown file with `zotxt-citekey-mode` enabled, if I type `@doe` then `M-x` `completion-at-point` I get an error message `peculiar error`, and, sadly, no citation comp

[2022-09-22 12:46] AtomicNess123 opened #68 "Error after installing zotxt in Emacs"
I am getting this error. My Zotero is open and I have installed the plugin.
[code]

[2022-09-22 12:47] AtomicNess123 commented on #61
I am experiencing the same issue on a Mac. Did you solve it? Thanks!

[2022-09-22 12:53] AtomicNess123 commented on #17
I have this problem. Any solution?